@{
    ViewBag.Title = "AdministrarHabitaciones";
}

<section id="content" class="prod">
    <div class="container_24">
        <div class="wrapper">
            <article class="grid_24">
                <div class="d-flex align-items-center justify-content-between mb-3">
                    <h2 class="p17 text-black font-weight-bold mb-0">Nuestras Habitaciones</h2>
                    <button class="btn btn-outline-dark ml-3" data-bs-toggle="modal" data-bs-target="#agregarHabitacionModal">Agregar Habitaciones</button>
                </div>
                <br />
                <h3 class="p17 text-black font-weight-bold">Villa Coromoto</h3>
                <table class="table table-bordered" style="border: 2px solid #000;">
                    <thead>
                        <tr>
                            <th>Habitación</th>
                            <th>Descripción</th>
                            <th>Check-in</th>
                            <th>Check-out</th>
                            <th>Precio por noche</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Habitación Deluxe</td>
                            <td>Cómoda habitación con vistas al jardín y cama king size.</td>
                            <td>3:00 PM</td>
                            <td>11:00 AM</td>
                            <td>$120</td>
                            <td>
                                <a class="btn btn-warning btn-sm mb-1" href="@Url.Action("ModificarHabitacion", "Habitacion")">Modificar</a>
                                <a class="btn btn-danger btn-sm" href="#" onclick="eliminarHabitacion(1)">Eliminar</a>
                            </td>
                        </tr>
                        <tr>
                            <td>Habitación Familiar</td>
                            <td>Espacio ideal para familias con capacidad para 4 personas.</td>
                            <td>3:00 PM</td>
                            <td>11:00 AM</td>
                            <td>$150</td>
                            <td>
                                <a class="btn btn-warning btn-sm mb-1" href="@Url.Action("ModificarHabitacion", "Habitacion")">Modificar</a>
                                <a class="btn btn-danger btn-sm" href="#" onclick="eliminarHabitacion(2)">Eliminar</a>
                            </td>
                        </tr>
                        <tr>
                            <td>Habitación Económica</td>
                            <td>Opción accesible para estancias cortas y viajeros solitarios.</td>
                            <td>3:00 PM</td>
                            <td>11:00 AM</td>
                            <td>$80</td>
                            <td>
                                <a class="btn btn-warning btn-sm mb-1" href="@Url.Action("ModificarHabitacion", "Habitacion")">Modificar</a>
                                <a class="btn btn-danger btn-sm" href="#" onclick="eliminarHabitacion(3)">Eliminar</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <br />
                <h3 class="p17 text-black font-weight-bold">Villa Vallita</h3>
                <table class="table table-bordered" style="border: 2px solid #000;">
                    <thead>
                        <tr>
                            <th>Habitación</th>
                            <th>Descripción</th>
                            <th>Check-in</th>
                            <th>Check-out</th>
                            <th>Precio por noche</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Habitación Deluxe</td>
                            <td>Cómoda habitación con vistas al jardín y cama king size.</td>
                            <td>3:00 PM</td>
                            <td>11:00 AM</td>
                            <td>$120</td>
                            <td>
                                <a class="btn btn-warning btn-sm mb-1" href="@Url.Action("ModificarHabitacion", "Habitacion")">Modificar</a>
                                <a class="btn btn-danger btn-sm" href="#" onclick="eliminarHabitacion(4)">Eliminar</a>
                            </td>
                        </tr>
                        <tr>
                            <td>Habitación Familiar</td>
                            <td>Espacio ideal para familias con capacidad para 4 personas.</td>
                            <td>3:00 PM</td>
                            <td>11:00 AM</td>
                            <td>$150</td>
                            <td>
                                <a class="btn btn-warning btn-sm mb-1" href="@Url.Action("ModificarHabitacion", "Habitacion")">Modificar</a>
                                <a class="btn btn-danger btn-sm" href="#" onclick="eliminarHabitacion(5)">Eliminar</a>
                            </td>
                        </tr>
                        <tr>
                            <td>Habitación Económica</td>
                            <td>Opción accesible para estancias cortas y viajeros solitarios.</td>
                            <td>3:00 PM</td>
                            <td>11:00 AM</td>
                            <td>$80</td>
                            <td>
                                <a class="btn btn-warning btn-sm mb-1" href="@Url.Action("ModificarHabitacion", "Habitacion")">Modificar</a>
                                <a class="btn btn-danger btn-sm" href="#" onclick="eliminarHabitacion(6)">Eliminar</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </article>
        </div>
    </div>
</section>

<!-- Modal -->
<div class="modal fade" id="agregarHabitacionModal" tabindex="-1" role="dialog" aria-labelledby="agregarHabitacionModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="agregarHabitacionModalLabel">Agregar Habitación</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("AgregarHabitacion", "Habitacion", FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    <div class="form-group">
                        <label class="control-label col-md-4" for="Nombre">Nombre:</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" id="Nombre" name="Nombre" required />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4" for="Descripcion">Descripción:</label>
                        <div class="col-md-8">
                            <textarea class="form-control" id="Descripcion" name="Descripcion" required></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4" for="CheckIn">Check-in:</label>
                        <div class="col-md-8">
                            <input type="time" class="form-control" id="CheckIn" name="CheckIn" required />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4" for="CheckOut">Check-out:</label>
                        <div class="col-md-8">
                            <input type="time" class="form-control" id="CheckOut" name="CheckOut" required />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4" for="Precio">Precio por noche:</label>
                        <div class="col-md-8">
                            <input type="number" class="form-control" id="Precio" name="Precio" required />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a class="btn btn-secondary ml-3" href="@Url.Action("AdministrarHabitaciones", "Habitacion")">Cerrar</a>
                        <a class="btn btn-outline-dark ml-3" href="@Url.Action("AdministrarHabitaciones", "Habitacion")">Guardar</a>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<!-- Llamada al archivo JavaScript externo -->
<script src="~/Scripts/CoromotoAccess/Habitacion.js"></script>
